__pycache__/

# ignore cache file
app/assets/saved.txt

# ignore backup dir
backup/

# ignore log files
app/app.log
assets/worker.log

# ignore venv & vscode
venv/
.vscode/

# ignore static files
*.css
*.js
*.map
# except
!app/assets/vendor/bootstrap/css/bootstrap.min.css
!app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
!app/assets/vendor/jquery/jquery.min.js

!app/assets/custom/styles/jack.css
!app/assets/custom/scripts/jack.js